<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/updatestyle.css') }}">
    <title>CurdApp</title>
</head>
<body>
    <div class="input-holder">
        <form method="post">
            <div>
                <label for="origname">Old Name</label>
                <input name="origname" type="name" value="{{data[0]}}" readonly>
                <label for="origid">Old ID</label>
                <input name="origid" type="number" value="{{data[1]}}" readonly>
                <label for="origpoints">Old Points</label>
                <input name="origpoints" type="number" value="{{data[2]}}" readonly>
            </div>
            <div>
                <label for="name">New Name</label>
                <input name="name" type="name">
                <label for="id">New ID</label>
                <input name="id" type="number">
                <label for="points">New Points</label>
                <input name="points" type="number">
            </div>
            <div>
                <input class="table-button" type="submit" value="Update">
            </div>
        </form>
    </div>
</body>
</html>